
header {
  display: inline-block;
}

.smallshoephoto {
  float: left;
  padding: 10px;
  width: 100px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 17px;
}

li {
  display: inline;
}

.nav1 {
  float: left;
  padding-top: 30px;
}

.nav2 {
  float: right;
  padding-top: 26px;
}

footer {
  display:flex;
  justify-content: flex-end;
}

.footershoe {
  float: left;
  padding-top:10px;
  width: 100px;
}

.footernav1 {
  float: left;
  padding-top: 30px;
  padding-left:10px
}

.footnav2 {
  float: right;
  padding-top: 30px;
}
