
header {
  display:flex;
  justify-content:space-between;

}

.smallshoephoto {
display:inline-block;
  padding: 10px;
  width: 100px;
}

a {
display: inline;
;
  text-decoration: none;
  padding: 0px;
  margin: 10px;
}


ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 17px;
}



}
li {
  display: inline;
  padding-left: 8px;
  padding-top: 10px;
}

.nav1 {

  padding-top: 5px;
}

.nav2 {
    padding-top: 26px;
}

footer {
  display:flex;
  justify-content: flex-end;
}

.footershoe {
  float: left;
  padding-top:10px;
  width: 100px;
}

.footernav1 {
  float: left;
  padding-top: 30px;
  padding-left:10px
}

.footnav2 {
  float: right;
  padding-top: 30px;
}
